@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-image: url(./imagenes/img-fondo.jpg);
    color:rgb(43, 2, 51);
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vw;
}

.login-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 184, 241);
    padding: 20px;
    width: 30vw;
    border-radius: 15px;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}

label {
    width: 10px;
    margin-top: 15px;
}

#usuario {
    margin-top: 10px;
    height: 20px;
}

#password {
    margin-top: 10px;
    height: 20px;
}

input{
    border: 1px;
    border-radius: 8px;
}

button { 
    border: none; 
    background-color: rgb(129, 57, 158);
    border-radius: 10px; 
    color: #ffffff;
    font-size: 0.8rem;
    width: 50%;
    height: 35px;
    margin: 10px auto;
  }
  
  
  button:hover{
    color: white; 
    cursor: default;
    background-color: rgb(110, 8, 150);
    transition: all .3s ease-out;
    cursor:pointer;
  }